.p {
  f
}

.recommend h2,
.trend h2,
.recommend p,
.trend p {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  font-size: 2rem;
}

.recommend h1 {
  font-size: 50px;
}

@media (max-width: 600px) {
  .recommend h1,
  .recommend h2,
  .trend h2,
  .recommend p,
  .trend p {
    font-size: .875rem;
  }
  .trend h1 {
    font-size: 22px; /* font size for smaller screens */
  }
}

.trend {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;  /* font size for bigger screens */
}

/* Link: Underline Hover */

a {
  text-decoration: none; /* remove default underline */
  color: #000; /* set link color */
  transition: all 0.2s ease-in-out; /* add transition effect */
}

a:hover > h1,
a:hover > h2 {
  text-decoration: underline; /* underline on hover */
}