.icon {
    height: 10vh;
    align-content: center;
    align-items: center;
    display: flex;

}

.iconContainer {
    height: 8vh;
    align-items: content;
    text-align: center;
    display: flex
}