.icon {
    height: 70px;
    min-height: 70px;
    align-content: center;
    align-items: center;
    display: flex;

}

.iconContainer {
    height: 50px;
    align-items: content;
    text-align: center;
    display: flex;
}