
.logoContainer {
    display:"flex";
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;;
    text-align: end;
}

.fondo {
    background-image: url("../../assets/HD-wallpaper480px.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;

}
@font-face {
    font-family: 'TeanPearl';
    src: url('../../assets/TAN-PEARL.ttf') format('opentype');

  }

  @font-face {
    font-family: 'Blinker';
    src: url('../../assets/Blinker-Light.ttf')
  }