

.fondo {
    background-image: url("../../assets/HD-wallpaper480px.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;

}
@font-face {
    font-family: 'TeanPearl';
    src: url('../../assets/TAN-PEARL.ttf') format('opentype');

  }

  @font-face {
    font-family: 'Blinker';
    src: url('../../assets/Blinker-Light.ttf')
  }

  @media only screen and (min-width: 1024px) and (max-height: 600px) {

    .logo {
        display: flex;
        top: 200px;
        width:150px;
        height: 400px;
        position: relative;
    }

    .description {
        font-size: 20%;
        padding-bottom: 50px;
    }

    .text-and-button {
        display: flex;
        align-items: center;
    }

    .text {
        display: flex;
        font-size: 60%;
        margin-bottom: 10%;
        width: 40%;
        display: inline-block;
    }

    .button{
        visibility: visible;
       margin-left: 100px;
        display: flex;
    }

  }