.text {
    font-size: 500%;
}

@media screen and (max-width: 767px) {
    .fondo {
        background-image: url("../../assets/HD-wallpaper480px.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }

}

@media screen and (max-width: 1439px) {

    .fondo {
        background-image: url("../../assets/HD-wallpaper1200px.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

@media screen and (min-width: 1440px) {

    .fondo {
        background-image: url("../../assets/HD-wallpaper1200px.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        height: 100vh;
    }
}